header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    flex: 1;
    text-align: center  ;
  }
footer {
    background-color: #efefef;
    color: #fff;
    font-family: sans-serif;
  }

  .footer-logo {
    text-align: center;
  }

  .contact-info {
    text-align: center;
  }

  .contact_mxh li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .contact-info a {
    color: #121212E6;
    text-decoration: none;
    margin: 0 5px;
  }
  .contact {
    display: flex;
    flex-direction: column;
  }

  .footer-nav {
    font-style: normal;
    margin-bottom: 20px;
    text-align: center;
  }

  .footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .footer-nav ul li {
    display: inline-block;
    margin-right: 10px;

  }
  .footer-nav a{
    font-weight: bold;
    color: #121212E6;
    text-decoration: none;
    font-family: sans-serif;
  }
   .bottom-footer {
    font-family: sans-serif;
    font-size: 12px;
    color:#121212E6;
    text-align: center;
  }
  .footer-divider {
    border: none;
    border-top: 3px solid #020202;
    margin: 20px 0;
  }
  .content {
    background-color: #E7F3F5;
    margin: 0px 0px 16px;
    padding: 12px 20px;
    font-family: sans-serif;
    border: 1px solid;
  }

  .info {
    background-color: #F8F9FA;
    margin: 0px 0px 26.8614px;
    padding: 12px ;
    font-family: sans-serif;
    border: 1px solid;
  }
  .question {
    margin: 0px 0px 26.8614px;
    font-style: normal;
  }
  .submitbtns {
    padding-bottom: 10px;
  }