body {
    height: 100vh;
    position: relative;
    color: #34495e;
    padding: 0!important;
    margin: 0!important;
    direction: "ltr";
    font-size: 14px;
}

.body-content {
    position: relative;
}

div {
    display: block;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3em;
}


.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.login-panel {
    min-height: 320px;
    background-color: #fff;
    padding-top: 2em;
    margin-top: 3em;
    border-radius: 10px !important;
    float: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

element.style {
    border-right: 1px solid #E6E6E6;
}

.background-left {
    margin-top: 30px;
    background-image: url(/LoginTemplate/image/Icon_SVG-01.svg);
    height: 380px;
    background-repeat: no-repeat;
    background-position: center;
}

.text-center {
    text-align: center!important;
}

.login-form-logo {
    margin-top: 32px;
}

.text-center {
    text-align: center!important;
}

.login-logo {
    height: 70px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.login-form {
    margin-top: 15px;
}

.form-group {
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;
}

.input-group {
    position: relative;
    width: 100%;
    height: 52px;
}

.btn-login {
    background-color: #8BC53F !important;
    border-radius: 50px !important;
    font-weight: bold;
    height: 52px;
    margin-top: 10px;
}

input{
    border-radius: 50px !important;
    text-align: center;
}

